body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f4f4f4;
}

header {
  background: #0d47a1;
  color: white;
  padding: 30px;
  text-align: center;
}

.produtos {
  display: flex;
  gap: 20px;
  padding: 40px;
  justify-content: center;
}

.card {
  background: white;
  padding: 20px;
  width: 250px;
  border-radius: 8px;
  text-align: center;
}

.card img {
  width: 100%;
}

.card a {
  display: inline-block;
  margin-top: 10px;
  padding: 10px;
  background: #1976d2;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
